<ion-view title="Tools Page">
  <ion-content style="background-color:aliceblue" class="padding">

      <br>
      <h4 style="text-align:center"> <img src="../www/img/uae3.gif" width="200" length="100" ></h4>


      <br>
      <br>

      <div class="container">

      <button ui-sref="tab.emergency_links" style="font-size:200%" class="button button-full button-stable">
Contact Tourism Destinations
      </button>

      <br>
      <br>

          <button ui-sref="tab.Survey" style="font-size:200%" class="button button-full button-stable">
Survey
          </button>
</div>
 </ion-content>
</ion-view>







