<ion-view title="Home Page">
  <ion-content style="background-color:aliceblue" class="padding">
      <head lang="en">
          <meta charset="UTF-8">
          <title>Discover Dubai</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      </head>







      <div class="container">
          <div class="page-header">
              <nav>
                  <a ui-sref="tab.Attractions">Attractions</a> |
                  <a ui-sref="tab.Hotels">Hotels</a> |
                  <a ui-sref="tab.Shopping">Shopping</a>
              </nav>
          </div>
          <center>  <img src="../www/img/dubai.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"></center>
          <br>
          <br>
         <center> <h1       style="      border: 2px solid #a1a1a1;
                 padding: 10px 40px;
                 background: #dddddd;
                 width: 500px;
                 border-radius: 25px;"

         class="text-danger">Discover Dubai</h1></center>
          <p>Since the 1990's, tourism has boomed, and is now a major part of Dubai's economy. Ambitious developments such as Burj Al Arab, The Palms, and the World, alongside Dubai's renowned shopping and beaches, have attracted tourists seeking a mix of the exotic and the spectacular.Today, Dubai continues to grow, but the Arab tradition of hospitality remains</p>
      </div>
<br>

      <div class="container">
          <h3 class="text-primary">the following vedio gives some information about the tourism in Dubai</h3>
      </div>
      <br>
      <div  class="container">
          <center>  <iframe  width="800"  height="400" class="embed-responsive-item" src="http://www.youtube.com/embed/nPOO1Coe2DI"></iframe></center>
      </div>
      <br>
      <br>
      <div class="container">
          <h3 class="text-primary">Dubai Today </h3>

          <p>as we can see from the table bellow dubai became one of the most important destination around the world </p>
          <br>
          <br>
          <center><p><img src="../www/img/Screen 1.png" width="600" height="300"></a></p></center>
          <br>
          <br>
          <br>
          <h3 class="text-primary">Statistics </h3>
          <p>the following table shows the number of visitors to most important destinations around the world one of them dubai </p>

          <br>
          <br>
          <center><p> <img src="../www/img/Screen 2.png" width="600" height="300"></a></p></center>
      </div>


      </div>

      <hr>
      <br>
      <br>

      <form method = "post" action = "">
          <div class="container">
              <h3 class="text-primary">User Information </h3>
              <br>
              <br>
              <br>
              <p><label>First Name
                  <input name = "title" type = "text" size = "50" placeholder="Frist Name" />
              </label></p>
              <p><label> Last Name
                  <input name = "name" type = "text" size = "50" placeholder="Last name" />
              </label></p>
              <p><label>Phone number
                  <input name = "Phone" type = "number" size = "50" placeholder="+123456789" /> (optional)
              </label></p>
              <p><label>Email address
                  <input name = "Email" type = "text" size = "20" placeholder="add@sdood"/>
              </label></p>


              <p><label>How did you find our service
                  <input type="number" name="quantity" min="1" max="10"> (1-10 perfect)
                  <input type="submit" id="mySubmit" value="Submit">

              </label></p>
              </label></p>
              <p><label>suggestions
                  <textarea name = "text" type = "text" size = "100" /></textarea></label></p>

          </div>
      </form>
      <br>
      <br>
      <hr>
      <div class="container">

          <footer>
              <h3 class="text-primary">To more information please call the National Council of Tourism </h3>

              <center> <button><a href="tel:044434166">044434166</a> </button></center>


          </footer>

      </div>

      <br>
      <br><br>
      <br>
      <br>
      <br>






 </ion-content>
</ion-view>







