<ion-view>
    <ion-content style="background-color:#ffffff">
        <br>
        <br>
        <div class="container">

        <h4 style="text-align:center"> <img src="../www/img/uae3.gif" width="200" length="100" ></h4>


            <br>
            <br>
        <div class="list">

            <a class="item item-thumbnail-left" href="http://uaetourism.ae/ar/">
                <img src="../www/img/zaed.jpeg">
                <h2>National Council of Tourism and Antiquities</h2>
                <p>Seven Emirates One Destination</p>
            </a>



        </div>

<br>


        <br>

        <div class="list list-inset">

            <a style="text-align: left"  >    <div class="item"><h2 style="color: red">
Abu Dhabi Office
            </h2>   </div>  </a></div>

              <div class="list">

            <div class="item item-button-right">
tel: +97124434166                <button class="button button-positive">
                    <i class="icon ion-ios7-telephone"></i>
                </button>

            </div>

</div>
                  <div class="list">

                      <div class="item item-button-right">
                         email: info@ncta.gov.ae                <button class="button button-positive">
                          <i class="icon ion-ios7-email"></i>
                      </button>
</div>
                      </div>

        <div class="list">

            <div class="item item-button-right" onclick="tel: 999">
               Emergency: 999               <button class="button button-assertive" onclick="tel: 999">
                <i class="icon ion-ios7-telephone-outline"></i>
            </button>
            </div>
        </div>

        <br>
        <br>
        <div class="list list-inset" >


                          <a style="text-align: left">    <div class="item"><h2 style="color: red">
Dubai Office
                          </h2>  </div>  </a>

                      </div>
                          <div class="list">

                              <div class="item item-button-right">
                                  tel:  +97142545555               <button class="button button-positive">
                                  <i class="icon ion-ios7-telephone"></i>
                              </button>
</div>
                              </div>


                              <div class="list">

                                  <div class="item item-button-right">
                                      email: info@ncta.gov.ae                <button class="button button-positive">
                                      <i class="icon ion-ios7-email"></i>
                                  </button>
</div>
                                  </div>


        <br>
        <br>
        <br>

        <center><button ><a href="https://www.google.ae/maps/place/The+National+Council+of+Tourism%26+Antiquities/@25.2749931,55.3486651,16z/data=!4m2!3m1!1s0x3e5f5cf298d5d26b:0xe9f8eea425844df3">
            Location </a>


        </button>
        </center>
            </div>
    </ion-content>
</ion-view>