<ion-view>
    <ion-content style="background-color:aliceblue" class="padding">
        <br>
        <br>
        <div class="container">
            <h4 style="text-align:center"> <img src="../www/img/uae3.gif" width="200" length="100" ></h4>

<br>
            <br>
            <br>
<h2 style="color: blue">It is important for us to know your opinion, please fill the following survey </h2>

            <br>
            <br>
            <ul class="list">

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
I got benefit when I used this website
                </li>

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
It is easy to use this website
                </li>



                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
I got more information about Dubai when I use it
                </li>

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
I discovered new places
            </li>

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
I will use it next time
            </li>

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
It needs modifications
            </li>
            </ul>


<br>
            <br>
            <br>
        <center><input type="submit"></center>


        </div>

    </ion-content>
</ion-view>